html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  // font-size: 62.5%;
}
body {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.6)
    ),
    url("../img/cover.jpg");
  // background-image: url(../img/cover.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.main-container {
  // background-color: rgba(0, 0, 0, 0.6);
  margin-top: 25%;
  color: white;
  text-align: center;
  padding: 2rem;
}
.quiz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
}
.buttons {
  display: flex;
  justify-content: center;
}
.btn {
  color: black;
  margin: 0.5rem;
}
.btn:hover {
  background-color: black;
  color: white !important;
  border: 1px solid white;
}
